
.container{
    width: 1408px;
    margin: 0 auto;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    color: #252525;
    font-weight: bold;
}

nav ul li {
    position: relative;
}

nav ul li:hover {
    color: #3EED8B;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0A9949;
    height: 0.19rem;
    width: 0;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover::after {
    /* width: 0.875rem; */
    width: 100%;

}



.bg-header{
    background: url('./img/banner.png') no-repeat;
}


.bgr-bs{
    background: url('./img/Group 10020.png') no-repeat;
}


/* Swiper */
.swiper {
    position:relative;
    width: 100%;
    height: 600px; /* Điều chỉnh để chứa đủ 3 hàng */
    margin: auto;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: calc((100% - 40px) / 3);
    box-sizing: border-box;
}

.swiper-pagination-bullet {
    background-color: #252525;
}

.swiper-pagination-bullet-active {
    background-color: #3EED8B;
}

.swiper-pagination-bullet {
    width: 24px;
    height: 8px; 
    background: #ddd;
    border-radius: 4px; 
    margin: 0 5px;
    transition: background-color 0.3s, width 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: #3EED8B;
    width: 40px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
